@import 'tailwindcss';

:root {
    --background: #f7f7f7;
    --foreground: #171717;
    --main: #ffffff;
    --secondary-main: rgb(22, 119, 255);
    --secondary-main-01: rgb(22, 119, 255, 0.1);
    --color-light-gray: rgb(240, 240, 240);
}

@theme inline {
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: 'public sans', sans-serif;
    font-size: 14px;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100%;
}

main {
    flex: 1 1 auto;
}
html,
body {
    height: 100%;
}

.active-link {
    border-right: 2px solid var(--secondary-main);
    color: var(--secondary-main);
    background-color: var(--secondary-main-01);
}
